* {
  box-sizing: border-box;
  outline: 1px dashed red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.calc-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 16rem;
  height: 24rem;
}

.calc-screen {
  grid-column: 1 / -1;
  grid-row: 1;
}

.calc-keypad {
  grid-column: 1 / -2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calc-operators {
  grid-column: -2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.key.clear {
  grid-column: 1 / 3;
  grid-row: 1;
}

.key.zero {
  grid-column: 1 / -1;
}